body{
  font-family: Arial;
  font-size: 1em;
background: #ebf1f6; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 74.6%, #315faa 74.6%, #041634 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(74.6%,#ffffff), color-stop(74.6%,#315faa), color-stop(100%,#041634)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 74.6%,#315faa 74.6%,#041634 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ffffff 74.6%,#315faa 74.6%,#041634 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 74.6%,#315faa 74.6%,#041634 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#ffffff 74.6%,#315faa 74.6%,#041634 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#041634',GradientType=0 ); /* IE6-9 */}

#infos{
  position: absolute;
  top: 40px;
  right: 40px;
}

#distance{
  width: 200px;
  padding: 0.5em 0;
  font-size: 1.5em;
  text-align: center;
  color: #999;
}

#toughness{
  width: 200px;
  height: 10px;
  background: #fff;
  border: 1px #ccc solid;
}

.bar{
  height: 100%;
  width: 100%;
  background: #eee;
}