body{
  font-family: Arial;
  font-size: 1em;
}

#infos{
  position: absolute;
  top: 40px;
  right: 40px;
}

#distance{
  width: 200px;
  padding: 0.5em 0;
  font-size: 1.5em;
  text-align: center;
  color: #999;
}

#toughness{
  width: 200px;
  height: 10px;
  background: #fff;
  border: 1px #ccc solid;
}

.bar{
  height: 100%;
  width: 100%;
  background: #eee;
}